<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update books here</title>
    <style>
        /* Bordered form */
    /* form {
      border: 3px solid #f1f1f1;
    } */
    
    /* Full-width inputs */
    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    button {
      background-color:navy;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    
    /* Add a hover effect for buttons */
    button:hover {
      opacity: 0.8;
    }
      </style>
</head>
<body>
    <div class="row"> 
        <form action="/upbook/<%- Bookdata._id%>" enctype="multipart/form-data" method="post">
          Title Of Book: <input type="text" name="title" value="<%- Bookdata.title%>"  required> <br>
          Author Of Book: <input type="text" name="author" value="<%- Bookdata.author%>" required> <br>
          Genre Of Book : <input type="text" name="genre" value="<%- Bookdata.genre%>" required> <br>
          Image of Book: <input type="text"  name="image"  value="<%- Bookdata.image%>"> <br>
          <input type="file" name="image" value="" required ><label style="color: red;">**</label> <br>
          
          <button type="submit">Update book</button>

        </form>   
       
      </div>
</body>
</html>
